/* 设置基础的全局样式 */

body,
textarea,
select,
input,
button {
    font-size: 12px;
    color: #222;
    background-color: #f5f5f5;
}


/* 文字超出显示。。。 */

.text-norwarp {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.warp-v1 {
    width: 1100px;
    margin: 0 auto;
}

.warp-v2 {
    width: 980px;
    margin: 0 auto;
}

.sprite_01 {
    background: url("") no-repeat 0 9999px;
}